{% extends "arbibets/header.html" %}

{% block content %}
<div style="margin-left:20px;">
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style='color:grey;'>Submit</button>
  </form>
</div>
{% endblock %}


