{% extends "arbibets/header.html" %}

{% block content %}
<div style="margin-left:20px">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post" >
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
</div>
  {% endif %}
{% endblock %}


