{% extends "arbibets/header.html" %}

{% block content %}
<div style="margin-left:20px; color:white;"> 
 <p>
    Your password has been set. You may go ahead and <a href='/accounts/login/'>sign in</a> now.
  </p>
</div>
{% endblock %}


