{% extends "arbibets/header.html" %}

{% block content %}
<div style="margin-left:20px">
    <h3>Change password</h3>
    <form method="post" >
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="color:white" >Change password</button>
    </form>
</div>
{% endblock %}


