{% extends "arbibets/header.html" %}

{% block content %}

<div style="margin-left:20px">
<h2> What is arbitrage betting? </h2>

<p>Betting arbitrage, miraclebets, surebets, sports arbitraging is a particular case of arbitrage arising on betting markets <br>
due to either bookmakers' different opinions on event outcomes or plain errors. When conditions allow, by placing one bet <br>
per each outcome with different betting companies, the bettor can make a profit regardless of the outcome. <br>
</p>
</p>To make it simple, let's say there is a tennis match between Player One and Player Two, and odds are given by the Bookmaker One and Bookmaker Two. 
<br>
<br>
Bookmaker One gives decimal odds like this 
<br>
Player One: 1.80
<br>
Player Two: 2.00
<br>
Bookmaker Two gives more chance to Player One so his decimal odds are :
<br>
Player One: 1.60
<br>
Player Two: 2.35
</p>
<p>
Here we have case of sure bet. Let' say we place 100 credits on Player One at Bookmaker One, and then place <br>
76.60 credits on Player Two at Bookmaker Two. Now, no matter what is the outcome, we will win 180 and we placed <br>
176 in bets. Here we won 3.4 credits or 1.93 percent of total betting money. Most surebets fall in the range from 0.5 to <br>
1.5 percent, but there are plenty of bets in 2-10 percent range. Percentages can be higher, sometimes up to few times more <br>
then we placed on bets, but those are mostly due to mistakes Bookmakers make and you need to act fast to catch it. But <br>
for most others, arbi conditions stay for a few hours, sometimes even days. For now, on arbibetting.com, we <br>
provide you only with tennis odds, which is easiest for newcomers to comprehend due to only having two odds, but surebets <br>
are also possible with three different odds, for example Team 1, Team 2 and Draw in football. When you register and buy <br>
membership plan which is currently only 10$ a month, on our homepage you will find all tennis arbitrage bets for over 80 <br>
bookies, but even if you don't buy membership plan instantly, you can se best 15 odds under 0.5 percent. When you decide <br>
you want to place a bet, you can download lots of different arbitrage calculators to calculate your winnings, or you can <br>
use the one found <a href="http://www.winnergambling.com/sports-betting-bingo/sports-betting-guide/">here</a>. <br>
That's it, you are ready to start winning, good luck!
</p>
</div>
{% endblock %}