{% extends "arbibets/header.html" %}
{% block content %}
<div class="container" style="margin-left:30px; margin-top:90px;" >
<h3> Your account is now activated. Please log in with your username and password </h3>
</div>
{% endblock %}

