<!DOCTYPE html>
  <html lang="en">
  <head>
  <title>Arbibetting</title>
    {% load staticfiles %}
  <meta charset="utf-8" />
  <meta name="keywords" content="Cheap Arbitrage betting surebets tennis" />
    <meta name="viewport" content="width=1024">
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  	 <link rel="stylesheet" type="text/css" href="{% static 'css/homePage.css' %}">
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106546542-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106546542-3');
</script>

  </head>
<body class="body" style="color:#f2f3f4;">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="navbar navbar-default navbar-fixed-top" style="background-color:#efd469; color: #131516;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button"   data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button >

            <a class="navbar-brand" href="/" >Home</a>
        </div>
        <center>
            <div class="navbar-collapse collapse" id="navbar-main" align="right">
                <ul class="nav navbar-nav">
					{% if user.is_authenticated %}
					{% else %}
                    <li><a href="/accounts/register/">Register</a>
                    </li>
                    <li><a href="/accounts/login/">Log in</a>
                    </li>
					{% endif %}
                    <li><a href="/about/">About arbitrage betting</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"  data-toggle="dropdown" >My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
						   {% if user.is_authenticated %}
							<li><a href="/accounts/profile/">Account overview</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/purchase_premium/">Buy More time</a>
                            </li>
                            <li class="divider"></li>
							<li><a href="/accounts/logout/">Logout</a>
                            </li>
							{% else %}
                            <li><a href="/accounts/login/">Log in</a>
                            </li>
							{% endif %} 

                        </ul>
                    </li>
                </ul>
                
            </div>
        </center>
    </div>
</div>
<div class="container" style="margin-top:60px;"></div>
    {% block content %}	
    {% endblock %}
</div>
<div class="container" style="min-height: 100; position: relative;">
 <footer class="footer" style="bottom: 0px;text-align: center;">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.arbibetting.com"> Arbibetting.com</a>
       <span>Contact: <a href="mailto:arbibettingsite@gmail.com">arbibettingsite@gmail.com</a></span>
    </div>
</footer>
</div> 
</body>
</html>

