{% extends "arbibets/header.html" %}

{% block content %}
<div style="margin-left:20px;">
<h3>Welcome to arbibetting.com, best site for tennis arbitrage betting. </h3>
<br>
<h3>Cheap tennis arbitrage for only 5$ a month! </h3>
<br>
<div>
<div> 
<p>
<h4>Please <a href="/accounts/login/"> log in</a> in or <a href="/accounts/register/"> register</a> to see available bets.<h4> 
<p>
<br>
<br>
<h4> What is arbitrage betting? Please click <a href="/about/">here </a>to find out!<h4></p>
<p>
</div>
{% endblock %}


