{% extends "arbibets/header.html" %}
{% block content %}

  {% load staticfiles %}
<div style="margin-bottom:10px">
  <h4>**Only paying members can see percentages over 0.5%**</h4>
  <h4>* Timezone of time showed is UTC/GMT *</h4>
</div>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
  
      <div class="wrap-table100" style="display:table;margin:0 auto;">
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head">
                  <th>Player one</th>
                  <th>Player two</th>
                  <th>Player one bet</th>
                    <th>Player two bet</th>
                    <th>Player one bookmaker</th>
                    <th>Player two bookmaker</th>
                    <th>Percentage</th>
                    <th>Tournament</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                  {% for bet in bets %}
              <tr>
                <td>{{bet.player1name}}</td>
                <td>{{bet.player2name}}</td>
                <td>{{bet.player1odds}}</td>
                <td>{{bet.player2odds}}</td>
                <td>{{bet.player1bookie}}</td>
                <td>{{bet.player2bookie}}</td>
                <td>{{bet.percentage}}</td>
                <td>{{bet.tournament}}</td>
                <td>{{bet.matchtime}}</td>
              </tr>
                  {% endfor %}
            </tbody>
          </table>
        </div>
      </div>


{% endblock %}