{% extends "arbibets/header.html" %}
{% block content%}

    <div class="container" style="margin-top:120px;">

      <form action="/accounts/auth_view/" method="post" > {%csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input  name="username" type="username" id="username" class="form-control" placeholder="username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input name="password" type="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
		  <a href='/password_reset/' style='color:white;text-align:center;display:block;' >Forgot your password?</button>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->

{% endblock%}
