{% extends "arbibets/header.html" %}
  {% load staticfiles %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/pricing.css' %}">
<div style="margin-top:10px;margin-left:30px">
  <h4> Please select your payment option </h4>
  <br>
  <h5> *Currently we only support PayPal payments</h5>
</div>

  <div id="pricing-table" class="clear">
    <div class="plan">
        <h3>One month premium<span>$5</span></h3>         
          {{ form1.render }}
    </div>
    <div class="plan" id="most-popular">
        <h3>Three months premium<span>$12</span></h3>
            {{ form2.render }} 
    </div>
    <div class="plan">
        <h3>One Year Premium<span>$40</span></h3>
            {{ form2.render }} 
    </div> 
</div>
{% endblock %}
