{% extends "arbibets/header.html" %}
{% block content %}
<div class="container" style="margin-left:20;" >
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
		<div style="color:grey;">
        {{ field }}
		</div>
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: grey">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}

    <button type="submit" style="color:black;">Sign up</button>
  </form>
</div>
{% endblock %}

