{% extends "arbibets/header.html" %}
{% block content %}
<div class="container" style="margin-left:30px; margin-top:90px;" >
<h3> Please check your email for activation code</h3>
</div>
{% endblock %}

