{% extends "arbibets/header.html" %}
{% block content%}
<div>
	<div style="margin-left:20px; color:grey; width:30%;background-color:#D4DADB;">
		<ul class="list-group" >
	  <li class="list-group-item">
		<p><b>First Name: </b>{{request.user.profile.first_name}}</p>
	  </li>
	  <li class="list-group-item">
		<p><b>Last Name: </b>{{request.user.profile.last_name}}</p>
	  </li>
	  <li class="list-group-item">
	   <p><b>Adress: </b>{{request.user.profile.adress}}</p>
	  </li>
	  <li class="list-group-item">
		<p><b>City: </b>{{request.user.profile.city}}</p>
	  </li>
	  <li class="list-group-item">
		<p><b>State: </b>{{request.user.profile.state}}</p>
	  </li>
	  <li class="list-group-item">
		<p><b>Counrtry: </b>{{request.user.profile.country}}</p>
	  </li>
	  <li class="list-group-item">
		<p><b>Member status: </b>{{subscription}}</p>
	  </li>
	</div>
	<div>
	  <div style="float:left; margin-left:20px;">
		<a href="/accounts/profile_edit/" class="btn btn-info" role="button">Edit Profile</a>
	  </div>
	  <div style="float:left; margin-left:10px;">
		<a href="/password_change/" class="btn btn-info" role="button">Change Password</a>
	  </div>
	</div>
</div>
{% endblock%}

