/* 
html {
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: #0d3d56;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: -moz-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: -ms-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: -o-linear-gradient( to left top, #a2d8ef,#42bff4);
    background: linear-gradient( to left top, #a2d8ef,#42bff4);
} */
html {
  min-height: 100%;
}
body{
  width: 100%;
  min-height: 100%;
  height:100%; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: #303030;
  background-repeat:no-repeat;
  width: 100%;

}
/*body {
  width: 100%;
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background:  #0d3d56;
  background-repeat:no-repeat;
  background: -webkit-linear-gradient( to left top, #0065a5,#0d3d56);
  background: -moz-linear-gradient( to left top, #0065a5,#0d3d56);
  background: -ms-linear-gradient( to left top, #0065a5,#0d3d56);
  background: -o-linear-gradient( to left top, #0065a5,#0d3d56);
  background: linear-gradient(to left top, #0065a5,#0d3d56);


}*/
